
<main style="color:rgb(197, 138, 179)" class="container">
    <div class="jumbotron">
      <div style="background-color:rgb(126, 217, 233)" class="d-flex justify-content-center">
      <h1 class="display-4">Welcome to our <%= title %> page</h1>
    </div></div>
  </main>
