<!--About us page-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

<body style="background-color:rgb(179, 218, 205)">
    <div style="text-align:center">
       <br><Br> <div style="background-color:rgb(152, 181, 219)" class="offset-md-3 col-md-6"><h1>Meet the team</h1>
    
    
<br><br><br><br><h4>Members:</h4>

<ul style="text-align: center; list-style-position: inside;">
    <br><br>
    <li>Sukrish Gokulakrishnan</li><br>
    <li>Thu Ya Si Thu</li><br>
    <li>Patel, Zeel</li>
    <li>Zin, Kasem</li>
    <li>Avnish Kush Loolchand</li>
</ul>
<br><br><br><br><h4>Misson: Our goal is to work on projects just like this one in order to help clients and also ourselves. In the sense that practise is going to sharpen our skills.</h4>
<p></p>


</div>
  </body>
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




