<!--Homepage-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

<body style="background-color:rgb(179, 218, 205)">
    <div style="text-align:center">
       <br><Br> <div style="background-color:rgb(152, 181, 219)" class="offset-md-3 col-md-6"><h1>Welcome to our Tournament Wep App!</h1></div>
    
    
<br><br><br><br><h4>Here's how to get you started</h4>

<ul style="text-align: center; list-style-position: inside;">
    <br><br>
    <li>Register an account with us</li><br>
    <li>Create your Tournament!</li><br>
    <li>Have fun :)</li>
</ul>


  </body>
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




